<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<div class="wraperrr d-flex align-items-center">
  <div class="containerr">
    <h1 class="text-white display-1 title">Hello I'm Dovydas web developer</h1>
    <div class="row align-items-center" style="height: 100%;">
      <div class="col-6">
        <h2 class="text-white display-2">about me</h2>
        <p class="text-white lead">Hello my name is Dovydas I'm from Lithuania, 23 years old. I was working here in norway for more than a year until
        I decided change my career from construction worker to something than I would enjoy doing and all my life I was into computers either gaming or fixing them I been working with computer for long time and I'm passionate about it. So I found programming. So I decided get into this field and I joined Le Wagon bootcamp where I learned web development skills. I never thought office work could be interesting but when Im working with code I really get into it I enjoy doing it learning new skills all the time and building something new. Currently Im learning React my improving my skills farther I'm also interested in other in Js frameworks. Despite my enjoyment with coding I also am very active person I love working out, snowboarding and living healthy lifestyle. </p>
      </div>
      <div class="col-6">
        <%= image_tag "prof.jpg", class: "avatar" %>
      </div>
    </div>
  </div>
</div>
<h1>My projects</h1>
  <div class="card-deck">
  <div class="card">
    <%= image_tag "img.jpg", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Let's play</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "img.jpg", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Jet now</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
<h1>My projects</h1>

<div class="container-fluid padding my-5 h-30">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
      <p>here are some ways to contact me...</p>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-12">
        <hr class="light">
        <h5>&copy; DovydasSavickas.com</h5>
      </div>
    </div>
  </div>
</footer>
